@import (reference) "styles";

body.index {
  #app-main {
    text-align: center;
    margin: auto;

    #intro {
      max-width: 52em;
      margin: auto;
    }

    section.connect {
      .interior {
        margin: auto;
      }
    }

    .fine-print {
      margin-top: 6em;
    }
  }
}