#app #app-main #sources { 
  padding-bottom: 6em;

  td {
    border-bottom: 1px solid #ececec;

    &:first-child { 
      font-weight: bold;
    }
  }

  tr:last-of-type td {
    border-bottom: none; 
  }

  td {
    &:nth-child(1) {
      width: 8em; 
    }

    &:nth-child(2) {
      width: 14em;
    }

    &:nth-child(3) {
      width: 30em;
    }
    
    ul {
      list-style: none;

      li { 
        padding: 0;
        margin-bottom: 0.2em;
        font-size: 0.8em;

        label {
          font-size: 1.2em;
        }

        input[type="checkbox"]:disabled+label {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }

  #sources-content-type-options {
    float: right;
    font-size: 0.8em;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .source-connect-area button {
    font-size: 0.8em;
    min-width: 10em;
  }

  .source-connect-area-connected {
    color: #08b92c;
  }

  .source-connect-area-disconnect {
    opacity: 0.5;
    font-size: 0.7em;
    padding-left: 0.8em;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  button.authed {
    background: #f0f9f2;
    cursor: default;
    box-shadow: none;
    border: 1px solid #e0f2e4;
    text-shadow: none;
    color: #00ba27;
    font-weight: normal;
  }
}

#sources-continue-area {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 6em;
  width: 100%;
  text-align: center;

  #sources-continue-area-interior {
    margin: auto;
    max-width: 60em;
    border-top: 1px solid #e9ebed;
    background: #fbfcfd;
    height: 100%;
    padding: 1em;
    text-align: right;
  }

  #sources-continue-area-message {
    font-size: 1.1em;
    margin-right: 1em;
    color: #08b92c;

    span {
      display: inline-block;
      padding-top: 0.6em;
    }
  }

  #sources-continue-area-message-no-connected-sources {
    color: #717171;
  }

  button {
    font-size: 1em;
    min-width: 12em;
  }
}