<div id="app">
  <div id="app-nav">
    <ul>
      <li {{action 'goToHome'}}><img src="images/asheville_logo.png" /></li>
      <li {{action 'goToSources'}}><span>Sources</span></li>
      <li {{action 'goToSync'}}><span>Syncronization</span></li>
    </ul>
    <ul>
      <li><span>Sign In</span></li>
    </ul>
  </div>
  <div id="app-main">
    {{outlet}}
  </div>
</div>