<td>{{view.item.name}}</td>
<td class="source-connect-area">
  <button {{action 'toggleConnection' target="view"}}>{{{view.connectLabel}}}</button>
</td>
<td>
  <ul style="float: left;">
    {{#each contentType in view.item.contentTypes}}
      {{view App.SourcesItemContentTypeView contentTypeBinding=contentType itemBinding=view.item}}
    {{/each}}
  </ul>
  <div style="clear: both;"></div>
</td>