<td>{{view.source.name}}</td>
<td class="source-connect-area">
  <button {{action 'toggleConnection' target="view"}}>{{{view.connectLabel}}}</button>
</td>
<td>
  <ul style="float: left;">
    {{#each view.source.contentTypes}}
      {{view App.SourcesSourceContentTypeView contentTypeBinding=contentType}}
    {{/each}}
  </ul>
  <div style="clear: both;"></div>
</td>