<div class="legend-color"><div class="legend-color-interior"></div></div> 
<div class="legend-label">{{contentType.namePlural}} ({{contentType.totalItemsSynced}} out of {{contentType.totalItemsAvailable}}, {{view.syncedPercentage}})</div>