<div class="legend-color"><div class="legend-color-interior"></div></div> 
<div class="legend-label">
  {{pluralize contentType.name}}
  {{#if view.hasTotalItems}}
    ({{view.totalItemsSynced}} out of {{view.totalItemsAvailable}}, {{view.syncedPercentage}})
  {{/if}}
</div>