<div id="sync">
  <h1 {{action 'simulateServerUserUpdate'}}>Backing up your content</h1>
  <p>We've begun backing up your content. The status of your Dropbox and social network accounts will be updated live below.</p>
  <p>You can find the files we create in the Asheville app folder of your Dropbox account (e.g. "~/Dropbox/Apps/Asheville").</p>
  <div class="tip" style="display: none;">
    <p><strong>Note:</strong> Closing or navigating away from this page will not stop the backup process. You can pause or restart each network's backup individually by using their respective controls below, or <a {{action 'pauseAllSources'}}>pause them all</a>. We will automatically back up any new content you post to these networks in the future as well unless you pause them.</p>
  </div>
  <hr />
  <div id="sync-storages">
    {{#each storage in storages}}
      {{view App.SyncStorageView storageBinding="storage"}}
    {{/each}}
  </div>
  <div id="sync-sources">
    {{#each source in sources}}
      {{#if source.totalContentTypes}}
        {{view App.SyncSourceView sourceBinding="source"}}
      {{/if}}
    {{/each}}
  </div>
</div>