button                                                        { background: #c6c9cc; border: 1px solid #cdcdcd; color: white; border-radius: 0.2em; text-align: center; font-size: 0.9em; letter-spacing: 0.05em; padding: 0.7em 1em 0.7em 1em; cursor: default; display: inline-block; transition: all 0.5s ease; }
button:focus                                                  { outline-width: 0; }
button:not(:disabled)                                         { background: #3e96f9; border: 1px solid #3e96f9; cursor: pointer; font-weight: bold; }
button:not(:disabled):hover                                   { background: #51a3ff; }
button:disabled                                               { opacity: .5; }
button:not(:disabled):active                                  { background: #398ae5; }

label                                                         { cursor: pointer; }
input[type=checkbox]                                          { cursor: pointer; }
input[type=checkbox]:disabled                                 { cursor: default; }

input[type=text],
input[type=email]                                             { font-size: 1em; border: 1px solid #dadada; padding: 0.5em; border-radius: 0.2em; width: 15em; height: 2.5em; color: #2e2e2e; transition: all 0.5s ease; }
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder                  { color: #c2c2c2; }
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder                            { color: #c2c2c2; }
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder                           { color: #c2c2c2; }
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder                       { color: #c2c2c2; }
input[type=text]:focus,
input[type=email]:focus                                       { outline-width: 0; border: 1px solid #bcbcbc; background: #fafafa; }
input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder            { color: #b2b2b2; }
input[type=text]:focus:-moz-placeholder,
input[type=email]:focus:-moz-placeholder                      { color: #b2b2b2; }
input[type=text]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder                     { color: #b2b2b2; }
input[type=text]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder                 { color: #b2b2b2; }

input[type=text]:valid,
input[type=email]:valid                                       { color: #28b145 !important; border: 1px solid #48d765 !important; background: #ebfcef !important; }
input[type=text]:valid::-webkit-input-placeholder,
input[type=email]:valid::-webkit-input-placeholder            { color: #c2c2c2 !important; }
input[type=text]:valid:-moz-placeholder,
input[type=email]:valid:-moz-placeholder                      { color: #c2c2c2 !important; }
input[type=text]:valid::-moz-placeholder,
input[type=email]:valid::-moz-placeholder                     { color: #c2c2c2 !important; }
input[type=text]:valid:-ms-input-placeholder,
input[type=email]:valid:-ms-input-placeholder                 { color: #c2c2c2 !important; }

input[type=text]:valid:focus,
input[type=email]:valid:focus                                 { color: #28b145 !important; border: 1px solid #48d765 !important; background: #ebfcef !important; }
input[type=text]:valid:focus::-webkit-input-placeholder,
input[type=email]:valid:focus::-webkit-input-placeholder      { color: #8eab94 !important; }
input[type=text]:valid:focus:-moz-placeholder,
input[type=email]:valid:focus:-moz-placeholder                { color: #8eab94 !important; }
input[type=text]:valid:focus::-moz-placeholder,
input[type=email]:valid:focus::-moz-placeholder               { color: #8eab94 !important; }
input[type=text]:valid:focus:-ms-input-placeholder,
input[type=email]:valid:focus:-ms-input-placeholder           { color: #8eab94 !important; }