html, 
body, 
body > .ember-view                  { height: 100%; }
body										            { cursor: default; font-family: 'Droid Sans', sans-serif; font-size: 12pt; background: url(../images/backgrounds/gray-gradient1.png) fixed top left repeat-x #e2e5e7; color: #242424; margin: 0; padding: 0; text-align: center; }
div, li, button, input              { box-sizing: border-box; }
h1											            { font-size: 1.8em; margin: 0 0 0.3em 0; padding: 0; font-weight: bold; color: black; }
h2											            { font-size: 1.2em; font-weight: bold; line-height: 1.4em; border-bottom: 2px solid #e9ebed; padding-bottom: 5px; color: black; }
h3											            { font-size: 1em; font-weight: bold; margin-bottom: 0.5em; }
h4											            { font-size: 1em; font-weight: bold; margin: 0; padding: 0; }
p											              { line-height: 1.6em; }
a											              { color: #0066d8; font-weight: bold; text-decoration: none; }
a:hover										          { color: #0078ff !important; }
a:visited									          { color: #0078ff; }
hr											            { border: none; border-top: 1px solid #e9ebed; margin: 2em 0 2em 0; }
form										            { margin: 0 0 1.5em 0; }
::selection      							      { background: transparent; } 
p::selection      							    { background: #e8f1fb; } 
table										            { width: 100%; }
th											            { text-align: left; font-weight: normal; font-size: 0.9em; border-bottom: 1px solid #e9ebed; padding-bottom: 0.5em; color: #aeaeae; }
td											            { vertical-align: top; padding: 0.5em 0 0.5em 0; }

.tip                                { font-size: .8em; color: #6a6a6a; background: #fbfcfd; padding: 1em; border: 1px solid #e9ebed; margin-bottom: 2em; border-radius: 0.2em; }
.tip p                              { cursor: default; margin-top: 0; }
.tip p:last-child                   { margin-bottom: 0; }
.tip strong                         { color: #3b3b3b; }
.tip em                             { font-style: italic; font-weight: bold; }