<div id="storage-tip"><img src="/images/logos/dropbox.svg" />All data synced to your <strong>Dropbox</strong> account can be found inside the <strong>"Apps/Asheville"</strong> directory.</div>
{{#each source in model.sources}}{{view "source" source=source}}{{/each}}