<section id="intro">
  <div class="banner">Take control of your online&nbsp;data</div>
  <div class="subbanner">Your personal data is scattered across the Internet. Sync it all to your cloud storage account so you have everything in one place.</div>
</section>

<section class="connect">
  <div class="interior">
    <h1 class="has-image">
      <div class="image-wrapper">
        <img src="/images/logos/dropbox.svg" />
      </div>
      Dropbox
    </h1>
    <div class="button-area auth">
      <button {{action 'authenticate'}}>Connect</button>
    </div>
  </div>
</section>

<section class="connect">
  <div class="interior">
    <h1 class="has-image">
      <div class="image-wrapper">
        <img src="/images/logos/google-drive.svg" />
      </div>
      Google Drive
      <div class="description">Not Yet Supported</div>
    </h1>
    <div class="button-area notify">
      <button style="display: none;">Notify Me</button>
    </div>
  </div>
</section>

<section class="connect">
  <div class="interior">
    <h1 class="has-image">
      <div class="image-wrapper">
        <img src="/images/logos/apple.svg" />
      </div>
      iCloud Drive
      <div class="description">Not Yet Supported</div>
    </h1>
    <div class="button-area notify">
      <button style="display: none;">Notify Me</button>
    </div>
  </div>
</section>

<section class="fine-print">
  Asheville is an <a href="https://github.com/asheville/spec" target="_blank">open source project</a> started by <a href="http://markmhendrickson.com" target="_blank">Mark&nbsp;Hendrickson</a>
</section>