<td>{{source.name}}</td>
<td class="source-connect-area">
  <button {{action 'toggleConnection' target="view"}}>{{{view.connectLabel}}}</button>
</td>
<td>
  <ul style="float: left;">
    {{#each contentType in view.source.contentTypes}}
      {{view App.SourceMenuContentTypeView contentType=contentType source=source}}
    {{/each}}
  </ul>
  <div style="clear: both;"></div>
</td>