<td>{{source.name}}</td>
<td class="source-connect-area">
  {{view App.SourceMenuAuthButtonView source=source}}
</td>
<td>
  <ul>
    {{#each contentType in view.source.contentTypes}}
      {{view App.SourceMenuContentTypeView contentType=contentType source=source}}
    {{/each}}
  </ul>
</td>